body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    color: #f0f0f0;
    background-color: #272d32;
}

* {
    margin: 0;
}
p {
    color: lightgray;
    font-size: 14px;
}
form h3 {
    font-weight: normal;
    font-size: 14px;
}
fieldset {
    border: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.container > header {
    display: flex;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #30353d;
}
.avatar {
    width: 70px;
}
.alias {
    margin-left: 20px;
    text-decoration: none;
}
.alias * {
    font-size: 24px;
}

.back-to-profile {
    text-align: right;
    font-size: 12px;
    padding: 16px;
}
.back-to-profile a {
    color: lightgray;
}

.body {
    display: flex;
}
.body > nav {
    flex-basis: 34%;
    margin-right: 22px;
}
.body > nav > ul {
    list-style-type: none;
    padding-left: 20px;
}
.body > nav > ul li {
    border-radius: 4px;
    padding: 10px;
    margin: 6px;
    font-size: 14px;
}
.body > nav > ul li#link-general {
    background-color: #3e4450;
}
.body > nav > ul > a {
    color: lightgray;
    text-decoration: none;
}
.body > nav > ul li:not(#link-general) {
    background: linear-gradient(to left, #272d32 50%, #3e4450 50%);
    background-size: 200% 100%;
    background-position: right;
    transition-property: background-position;
    transition-duration: 160ms;
    transition-timing-function: ease-in;
}
.body > nav > ul li:not(#link-general):hover {
    background-position: left;
}

.body-main > h2 {
    margin-bottom: 2px;
}
.body-main > p {
    margin-bottom: 32px;
}