body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    color: #f0f0f0;
    background-color: #000000;
    background-image: url(https://cdn.steamstatic.com/steamcommunity/public/images/items/1465680/ee46cc3b6988057d435be7e391472d46f278d87a.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

* {
    margin: 0;
}
p {
    color: lightgray;
    font-size: 12px;
}
input::placeholder {
    font-style: italic;
}

.profile-container {
    background-color: rgba(34, 34, 34, 0.4);
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 12px;
    margin-bottom: 200px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 20px;
}
.profile-box-1 {
    flex-basis: 200px;
    margin-top: 20px;
}
.profile-box-2 {
    flex-basis: 500px;
    margin-top: 20px;
}
.profile-box-3 {
    flex-basis: 300px;
    margin-top: 20px;

    & * {
        margin-bottom: 20px;
    }
}
.alias, .level {
    font-size: 24px;
}
.edit-profile-button {
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
    padding: 6px 8px;
    border-radius: 2px;
    color: lightgray;
    text-decoration: none;
    font-size: 14px;
    transition-property: background-color, color;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}
.edit-profile-button:hover {
    background-color: rgba(211, 211, 211, 0.5);
    color: #f0f0f0;
}

.profile-body {
    display: flex;
    justify-content: space-between;
}
.main-content {
    flex-grow: 1;
    margin-right: 10px;
}
.side-content {
    flex-basis: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    color: lightgray;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 40px;
    height: fit-content;
}

.showcases > *, .recent-activity, .comments, .side-content {
    backdrop-filter: blur(10px);
}

.showcases > *, .recent-activity, .comments {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-weight: lighter;
    margin-bottom: 12px;

    & header {
        background-color: chocolate;
        padding: 10px 10px;
        border-radius: 4px 4px 0 0;
        font-weight: lighter;
    }
}

.showcase-body, .recent-activity-body, .comments-body {
    padding: 10px 10px;
}

.showcase-body > * {
    margin-top: 10px;
}

.showcase-body > .stats, .add-comment-box {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}
.showcase-body > .stats > figure {
    margin: 20px 20px 10px 10px;
}
.showcase-body > .stats > figure > :not(figcaption) {
    font-size: 40px;
}
.showcase-body > .stats > figure > figcaption {
    color: lightgray;
    margin-top: 10px;
}
.showcases h5 {
    font-weight: normal;
    color: lightgray;
}
.featured-games {
    display: flex;
    justify-content: space-between;
}
.featured-games > img {
    flex-basis: 24%;
    height: 50px;
}

.recent-activity-body > * {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    margin-top: 20px;
    padding: 8px 10px;
}
.activity-img {
    width: 200px;
    margin-right: 6px;
}
.activity-name {
    flex-grow: 1;
    color: #f0f0f0;
}

.comments {
    margin-top: 80px;
}
.add-comment-box {
    padding: 10px 10px 20px 10px;
}
.comment-box-avatar {
    width: 40px;
    margin-right: 10px;
    border: 2px solid gray;
}
.comment-box {
    border: 2px solid gray;
    border-radius: 2px;
    background-color: #292929;
    flex-grow: 1;
    padding: 6px;
    outline: none;
}

.side-content > header {
    margin-bottom: 40px;
}
.side-content .status {
    font-size: 20px;
}
.side-content > .body > * {
    margin-top: 12px;
}
.side-content > .body > * > a {
    color: #f0f0f0;
    font-size: 14px;
    text-decoration: none;
}
.side-content > .body > * > a:hover {
    text-decoration: underline;
}
.side-content > .body > * > a > span {
    color: lightgray;
    font-size: 24px;
    margin-left: 8px;
}
.side-content > .body > .groups {
    margin-top: 40px;
}