body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    color: #f0f0f0;
    background-color: #222222;
}

figure > * {
    margin: 0;
}

.profile-container {
    background-color: rgba(255, 166, 0, 0.4);
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 12px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.profile-box-1 {
    flex-basis: 200px;
    margin-top: 20px;
}
.profile-box-2 {
    flex-basis: 500px;
    margin-top: 20px;
}
.profile-box-3 {
    flex-basis: 300px;
    margin-top: 20px;
}

.profile-body {
    display: flex;
    justify-content: space-between;
}

.profile-body > aside {
    flex-basis: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.profile-body > .showcases {
    flex-grow: 1;
    margin-right: 10px;
}

.showcases > * {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-weight: lighter;
}

.showcases > * > header {
    background-color: chocolate;
    padding: 10px 10px;
    border-radius: 4px 4px 0 0;
    font-weight: lighter;
}

.showcase-body {
    padding: 10px 10px;
}

.showcase-body > .stats {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

.showcase-body > .stats > figure {
    margin: 20px 20px 10px 10px;
}

.showcase-body > .stats > figure > :not(figcaption) {
    font-size: 40px;
}

.showcase-body > .stats > figure > figcaption {
    color: lightgray;
    margin-top: 10px;
}

.showcases h5 {
    font-weight: normal;
    color: lightgray;
}

.side-content {
    color: lightgray;
    padding: 10px;
}
.side-content > header {
    margin-bottom: 40px;
}
.side-content .status {
    font-size: 20px;
}
.side-content > .body > * {
    margin-top: 12px;
}
.side-content > .body > * > a {
    color: #f0f0f0;
    font-size: 14px;
    text-decoration: none;
}
.side-content > .body > * > a:hover {
    text-decoration: underline;
}
.side-content > .body > * > a > span {
    color: lightgray;
    font-size: 24px;
    margin-left: 8px;
}
